<html ng-app="myapp">

<head>
    <base href="/" />
    <title>
    </title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="stylesheets/nav_bar.css" />
    <link rel="stylesheet" href="stylesheets/chat.css" />
    <link rel="stylesheet" href="stylesheets/home.css" />
    <link rel="stylesheet" href="stylesheets/create_account.css" />
    <link rel="stylesheet" href="stylesheets/login.css" />
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />  -->
</head>

<body>
    <div class="nav-bar" ng-controller="nav_bar_controller as vm">
        <div>
            <h1>Node Demo Server</h1>
        </div>
        <div class="nav-bar-options" >
            <div ng-hide="!vm.service.userData.logged()">
                <a href="#/chat">Chat</a>
            </div>
            <div ng-hide="!vm.service.userData.logged()">
                <a href="#/add_friends">Add Friends</a>
            </div>
        </div>
        <div ng-hide="vm.service.userData.logged()">
            <img src="images/outline.png" placeholder="outline"></img>
            <a href="#/create_account">Create account now</a>
            <a href="#/login">Log in</a>
        </div>
        <div ng-hide="!vm.service.userData.logged()">
            <img style="float:left;" src="vm.service.userData.profilePicture()" onerror="this.src = 'images/outline.png'">
            <h3 style="line-height:55px; margin-left:50px;"> Welcome {{vm.service.userData.name()}}</h3>
        </div>
    </div>
    <div ng-view>
    </div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-cookies.js"></script> -->
    <script src="javascript/angular/angular.js"></script>
    <script src="javascript/angular-route/angular-route.js"></script>
    <script src="javascript/angular-cookies/angular-cookies.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="javascript/index.js"></script>
    <script src="javascript/index.js"></script>
    <script src="javascript/router/router.js"></script>
    <script src="javascript/controller/home_controller.js"></script>
    <script src="javascript/controller/create_account_controller.js"></script>
    <script src="javascript/controller/nav_bar_controller.js"></script>
    <script src="javascript/controller/login_controller.js"></script>
    <script src="javascript/controller/chat_controller.js"></script>
    <script src="javascript/service/user_service.js"></script>
</body>

</html>
