<div class="chat" ng-controller="chat_controller as vm">
    <div ng-hide="!vm.service.userData.logged">
        <div class="friends">

        </div>
        <div class="chat-box">
            <div></div>
            <div id="chat-display" class="chat-display">
                <div>
                    <div class="recive-chat">
                        <div ng-repeat="message in vm.messages.recive track by $index">
                            <div class="chat-bubble">
                                {{message}}
                            </div>
                        </div>
                    </div>
                    <div class="sent-chat">
                        <div ng-repeat="message in vm.messages.sent track by $index">
                            <div class="chat-bubble">
                                {{message}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div>
                    <div id="input" contenteditable="true"></div>
                </div>
                <button ng-click="vm.send()">send</button>
            </div>
        </div>
    </div>
    <div class="not-logged"ng-hide="vm.service.userData.logged">
        <a href="#/login">Log in to enable chat</a>
        <div class="tint">
            <div class="friends">

            </div>
            <div class="chat-box">
                <div></div>
                <div id="chat-display" class="chat-display">
                    <div>
                        <div class="recive-chat">
                        </div>
                        <div class="sent-chat">
                        </div>
                    </div>
                </div>
                <div class="controls">
                    <div>
                        <div id="input"></div>
                    </div>
                    <button disabled="true"ng-click="vm.send()">send</button>
                </div>
            </div>
        </div>
    </div>
</div>
