<div class="create_account" ng-controller="create_account_controller as vm">
    <h1>
        Create Account
    </h1>
    <div class="main-body">
        <div class="make_user_form">
            <div>
                <input ng-mode="vm.name" placeholder="Name"></input>
            </div>
            <div>
                <input ng-change="vm.checkUsername();" ng-model="vm.username" placeholder="Username"></input>
                <div ng-hide="!vm.usernameBuffer" class="buffer"></div>
                <p>{{vm.usernameTaken}}</p>
            </div>
            <div>
                <input ng-change="vm.checkPasswordStrength(); vm.checkPasswordMatch();" ng-model="vm.password" type="password" placeholder="Password"></input>
                <p>{{vm.passwordStrength}}</p>
            </div>
            <div>
                <input ng-change="vm.checkPasswordMatch();" ng-model="vm.passwordTwo" type="password" placeholder="re-enter Password"></input>
                <p>{{vm.passwordmatch}}</p>
            </div>
            <button ng-click="vm.mkuser()">submit</button>
        </div>
    </div>
</div>
