<div class="create_account" ng-controller="create_account_controller as vm">
    <h1>
        Create Account
    </h1>
    <div class="main-body">
        <div class="make_user_form">
            <input ng-change="vm.checkUsername();" ng-model="vm.username" placeholder="username"></input>
            <div ng-if="vm.usernameBuffer" class="buffer"></div>
            <p>{{vm.usernametaken}}</p>
            <input ng-change="vm.checkPasswordStrength(); vm.checkPasswordMatch();" ng-model="vm.password" type="password" placeholder="password"></input>
            <p>{{vm.passwordStrength}}</p>
            <input ng-change="vm.checkPasswordMatch();" ng-model="vm.passwordTwo" type="password" placeholder="re-enter password"></input>
            <p>{{vm.passwordmatch}}</p>
            <button ng-click="vm.mkuser()">submit</button>
        </div>
    </div>
</div>
