.chat{
    width: 600px;
    margin: 0 auto;
}
.tint{
    background-color: rgb(17, 91, 138);
    opacity: .3;
    z-index:4;
    transition: opacity 1s;
}
.not-logged{
    position: relative;
}
.not-logged a{
    text-decoration: none;
    color:black;
    z-index:5;
    display: none;
    position: absolute;
    font-size: 1.5em;
    width: 210px;
    top: 150px;
    left: 210px;
    cursor: pointer;
}
.tint:hover{
    opacity: .4;
}
.not-logged:hover a{
    display: block;
}
.chat-box{

}
.chat-display{
    overflow: auto;
    height: 500px;
    background-color: rgba(0,0,0,.2);
}
.chat-display::-webkit-scrollbar {
    display:none;
}
.chat-display > div{
    height: 100%;
    width: 100%;
    display:flex;
}
.recive-chat{
    width: 50%;
}
.sent-chat{
    width: 50%;
}
.chat-bubble{
    background-color: #169055;
    word-wrap: break-word;
    margin: 0px 10px 10px 10px;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
}
.controls{
    display:flex;
}
.controls > div{
    width: 398px;
    height:38px;
    margin-top: 5px;
    overflow: auto;
    box-sizing: border-box;
    border: 1px solid #bcbec1;
}

.controls > div::-webkit-scrollbar {
    display:none;
}
.controls > div > div{
    padding-top: 11px;
    padding-bottom: 11px;
    font-size: 16px;
}
.controls > button{
    width: 200px;
    margin-right: 50px;
    margin-left: 50px;
}
